<launch>

<!--
<node pkg="rosserial_python" type="serial_node.py" output="screen" name="serial_node">
<param name="port" value="/dev/arduino" />
</node>
-->

<node pkg="tk_llc" type="low_level_control.py" output="log" name="low_level_control">
</node>

<node pkg="tk_llc" type="encoder_odom.py" output="screen" name="encoder_odom">
</node>

<include file="$(find ydlidar)/launch/lidar.launch" />



<!--
<include file="$(find razor_imu_9dof)/launch/razor-pub.launch" />

<node pkg="tf" type="static_transform_publisher" name="imu_base_link_broadcaster" args="0 0 0.1 0 0 0 base_link base_imu_link 60" />
-->

<!--
<node pkg="tf" type="static_transform_publisher" name="lazer_odom_broadcaster" args="0 0 0 1.5708 0 0 base_link laser_frame 60" />
-->



</launch>















